*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'arial';
}

.logo{
    font-family: 'Fredoka', sans-serif;
    color: 	#8B4513;
}

.logo span{
    font-family: 'Fredoka', sans-serif;
    color: #F4A460;
}

.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

}

.navbar{
    background-color: #a08c7a;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul{
    font-family: 'Poppins', sans-serif;
    font-weight: 525;
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    color: #141414;
    margin-right: 2rem;
    cursor: pointer;
}    

.nav-icons{
    display: flex;
    align-items: center; 
}

.nav-icons img{
    width: 30px;
    cursor: pointer;
}

nav ul li:hover{
    transform:translateY(-5px);
    transition: all 0.5s;
}    

.menu-icon{
    display: none;
}

header{
    background-image: radial-gradient(#EAD7C5, #B68D40);
}

.header-bottom-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.header-bottom-side-left{
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-left h2{
    font-family: Nunito, sans-serif;    
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left p{
    font-family: Nunito, sans-serif;    
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left button{
    font-family: Nunito, sans-serif;    
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #f0ceb1;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
}

.header-bottom-side-left button:hover{
    background-color: #ebab73;
    transition: all 0.4s;
}

.header-bottom-side-right{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom-side-right img{
    width: 115%;
    margin: 0 auto;
}
